* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.3rem;
  line-height: 1.4;
  /* overflow: hidden; */
}

.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background-color: rgba(255, 192, 203, 0.364);
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: "";
  position: absolute;
  height: 2px;
  background: white;
  width: 100%;
  top: -10px;
  z-index: 1;
}

.menu-wrap .hamburger > div::after {
  top: 10px;
}

.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

.menu-wrap .toggler:checked + .hamburger > div::before,
.menu-wrap .toggler:checked + .hamburger > div::after {
  top: 0;
  transform: rotate(90deg);
}

.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}
.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: 0.75s;
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: rgba(255, 192, 203, 0.91);
  width: 200vw;
  height: 200vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
  transform: scale(0);
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  font-size: 2rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: #3c2824;
  font-size: 2.5rem;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li > a:hover {
  color: #3c2824;
  text-decoration: underline;
  transition: all 1s ease;
}

.contanier {
  max-width: 960px;
  margin: auto;
  /* overflow: hidden; */
  padding: 0 3rem;
}

#showcase {
  background-color: rgba(255, 255, 255, 0.297);
  height: 100vh;
  position: relative;
  color: white;
}

#showcase::before {
  content: "";
  position: absolute;
  background: url("./Assets/img/hero_photo_4.jpg") no-repeat center center/cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#showcase .showcase-contanier {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100%;
}

#showcase h1 {
  font-size: 4rem;
}

#showcase p {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.btn {
  display: inline-block;
  border: none;
}

/*********PAGE NUMBER ONE-PINK PAGE!!!******** */
#page-1 {
  height: 100vh;
  background: rgba(255, 192, 203, 0.495);
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 4rem;
}

#page-1 h1,
#page-2 h1,
#page-3 h1,
#page-4 h1 {
  color: #3c2824;
  font-size: 2rem;
  margin-bottom: 20px;
  line-height: 1.2;
}

#page-1 h1 p,
#page-2 h1 p,
#page-3 h1 p,
#page-4 h1 p {
  font-size: 1.4rem;
  padding: 2rem 4rem;
  color: #3c2824;
}

.btn {
  display: inline-block;
  padding: 1rem 6rem;
  color: white;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 10px;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.btn:hover {
  border: 2px solid pink;
  background-color: pink;
  color: #3c2824;
  font-weight: 500;
}

/*********PAGE NUMBER TWO--DARK COHCOLATE*********/

#page-2 {
  height: 100vh;
  background: #fefae0;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 4rem;
}

#page-2 > h3,
#page-3 > h3,
#page-4 > h3 {
  color: #3c2824;
  font-size: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.dark-chocolate-benefits p,
.milk-chocolate-benefits p,
.white-chocolate-benefits p {
  font-size: 1.4rem;
  padding: 1rem 3rem;
  background: none;
  border-radius: 20px;
  transition: all 2s ease;
}

#page-2 .dark-chocolate-benefits p i,
#page-3 p i,
#page-4 p i {
  display: block;
  font-size: 3rem;
}

#page-1 div .btn,
#page-2 div .btn-page-2,
#page-3 div .btn-page-3,
#page-4 div .btn-page-4,
#page-5 div .btn-page-5 {
  display: inline-block;
  padding: 1rem 6rem;
  color: #3c2824;
  text-decoration: none;
  border: 2px solid #3c2824;
  border-radius: 10px;
  margin-top: 1rem;
  margin-bottom: 3rem;
  font-size: 1.5rem;
}

#page-1 .btn:hover,
#page-2 .btn-page-2:hover,
#page-3 .btn-page-3:hover,
#page-4 .btn-page-4:hover,
#page-5 .btn-page-5:hover {
  border: 2px solid #3c2824;
  background-color: #3c2824;
  color: white;
  font-weight: 500;
}

/*********PAGE NUMBER THREE-MILE CHOCOALE*********/

#page-3 {
  height: 100vh;
  background: #ffb30082;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 4rem;
}

/*********PAGE NUMBER FOUR-WHITE CHOCOLATE*********/

#page-4 {
  height: 100vh;
  background: #bb9557c6;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 4rem;
}

/*********PAGE NUMBER FIVE-CONTACT FORM******** */

#page-5 {
  height: 100vh;
  position: relative;
  padding: 0 4rem;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#page-5::before {
  content: "";
  position: absolute;
  background: url("./Assets/img/acrylic-dripping-paint-light-brown.jpg")
    no-repeat center center/cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#page-5 h1 {
  color: #3c2824;
  font-size: 3rem;
  padding-top: 1rem;
}

#page-5 p {
  color: #3c2824;
  font-weight: 500;
  font-size: 1.6rem;
  padding: 1rem 5rem;
  margin-bottom: 20px;
  border-radius: 10px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-form label {
  font-size: 1.6rem;
  font-weight: bolder;
  color: #3c2824;
  line-height: 2;
}

input[type="text"],
input[type="email"],
textarea {
  width: 150%;
  background: none;
  border: 2px solid #3c28246d;
  border-radius: 10px;
}

textarea {
  margin-bottom: 1rem;
}

input[type="text"],
input[type="email"] {
  height: 4rem;
}

/******MEDIA QUERY FOR TABLET*****/

@media (min-width: 799px) and (max-width: 1060px) {
  #page-1,
  #page-2,
  #page-3,
  #page-4,
  #page-5 {
    padding: 0 10rem;
  }
}

/******MEDIA QUERY FOR MOBILE*****/

@media (min-width: 1061px) {
  #page-1 {
    padding: 0 50rem;
  }

  #page-1 p {
    font-size: 1.5rem;
    padding: 0 5rem;
    line-height: 1.5;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  #page-2 {
    flex: none;
    background-color: none;
    background: url("./Assets/img/small_photo_dark_chocolate.jpg") no-repeat
      center center/cover;
  }

  .page-2-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: 60%;
    background-color: #fefae0;
    padding: 10rem;
    height: 100vh;
  }

  #page-3 {
    flex: none;
    background-color: none;
    background: url("/Assets/img/milk_chocolate_photo_2.jpg") no-repeat center
      center/cover;
  }

  .page-3-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-right: 60%;
    background-color: #f0c768fd;
    padding: 10rem;
    height: 100vh;
  }

  #page-4 {
    flex: none;
    background-color: none;
    background: url("/Assets/img/white_chocolate_cover_2.jpg") no-repeat left;
  }

  .page-4-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: 60%;
    background-color: #f9deb2ef;
    padding: 10rem;
    height: 100vh;
  }

  #page-5 {
    background-color: rgba(255, 255, 255, 0.568);
    height: 100vh;
    position: relative;
    padding: 0 4rem;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  #page-5 p {
    padding: 0 5rem;
    font-size: 2rem;
  }

  #page-5::before {
    content: "";
    position: absolute;
    background: url("./Assets/img/footer_photo.jpg") no-repeat center
      center/cover fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  #page-5 div .btn-page-5 {
    display: inline-block;
    padding: 1rem 6rem;
    color: white;
    text-decoration: none;
    border: 2px solid #3c2824;
    background-color: #3c2824;
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 3rem;
    font-size: 1.5rem;
  }

  #page-5 div .btn-page-5:hover {
    border: 2px solid white;
    background-color: white;
    color: #3c2824;
    font-weight: 500;
  }
}
