* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.3rem;
  line-height: 1.4;
  /* overflow: hidden; */
}

.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background-color: rgba(255, 192, 203, 0.364);
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: "";
  position: absolute;
  height: 2px;
  background: white;
  width: 100%;
  top: -10px;
  z-index: 1;
}

.menu-wrap .hamburger > div::after {
  top: 10px;
}

.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

.menu-wrap .toggler:checked + .hamburger > div::before,
.menu-wrap .toggler:checked + .hamburger > div::after {
  top: 0;
  transform: rotate(90deg);
}

.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}
.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: 0.75s;
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: rgba(255, 192, 203, 0.91);
  /* background: rgba(255, 192, 203, 0.436); */
  width: 200vw;
  height: 200vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
  transform: scale(0);
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  font-size: 2rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: #3c2824;
  font-size: 2.5rem;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li > a:hover {
  color: #3c2824;
  text-decoration: underline;
  transition: all 1s ease;
}

.contanier {
  max-width: 960px;
  margin: auto;
  /* overflow: hidden; */
  padding: 0 3rem;
}

#showcase {
  background-color: rgba(255, 255, 255, 0.297);
  height: 100vh;
  position: relative;
  color: white;
}

#showcase::before {
  content: "";
  position: absolute;
  background: url("./Assets/img/hero_photo_4.jpg") no-repeat center center/cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#showcase .showcase-contanier {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100%;
}

#showcase h1 {
  font-size: 4rem;
}

#showcase p {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.btn {
  display: inline-block;
  border: none;
}

/*********PAGE NUMBER ONE******** */
#page-1 {
  height: 100vh;
  background: rgba(255, 192, 203, 0.495);
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 4rem;
}

#page-1 h1,
#page-2 h1,
#page-3 h1,
#page-4 h1 {
  color: #3c2824;
  font-size: 2rem;
  margin-bottom: 20px;
  /* margin-bottom: 2rem; */
  line-height: 1.2;
  /* margin: 1rem; */
}

#page-1 h1 p,
#page-2 h1 p,
#page-3 h1 p,
#page-4 h1 p {
  font-size: 1.4rem;
  padding: 2rem 4rem;
  color: #3c2824;
}

.btn {
  display: inline-block;
  padding: 1rem 6rem;
  /* background-color: rgb(232, 216, 216); */
  color: white;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 10px;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.btn:hover {
  border: 2px solid pink;
  background-color: pink;
  color: #3c2824;
  font-weight: 500;
}

/*********PAGE NUMBER TWO --DARK COHCOLATE******** */

#page-2 {
  height: 100vh;
  background: #fefae0;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 4rem;
}

/* #page-2 h1 {
  color: #3c2824;
  font-size: 2rem;
  padding-top: 4rem;
  padding-bottom: 2rem;
  /* margin-bottom: 20px; */
/* line-height: 1.3; */
/* margin: 1rem; */

/* #page-2 h1 p,
#page-3 h1 p,
#page-4 h1 p {
  font-size: 1.4rem;
  padding: 2rem 4rem;
  color: #3c2824;
} */

#page-2 > h3,
#page-3 > h3,
#page-4 > h3 {
  color: #3c2824;
  font-size: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.dark-chocolate-benefits p,
.milk-chocolate-benefits p,
.white-chocolate-benefits p {
  font-size: 1.4rem;
  padding: 1rem 1rem;

  background: none;

  /* margin: 5px; */
  border-radius: 20px;
  /* transition: all 2s ease ; */
}

#page-2 .dark-chocolate-benefits p i,
#page-3 p i,
#page-4 p i {
  display: block;
  /* padding-bottom: 1.5rem; */
  font-size: 3rem;
}

#page-1 .btn,
#page-2 .btn-page-2,
#page-3 .btn-page-3,
#page-4 .btn-page-4,
#page-5 .btn-page-5 {
  display: inline-block;
  padding: 1rem 6rem;
  color: #3c2824;
  text-decoration: none;
  border: 2px solid #3c2824;
  border-radius: 10px;
  margin-top: 1rem;
  margin-bottom: 3rem;
  font-size: 1.5rem;
}

#page-1 .btn:hover,
#page-2 .btn-page-2:hover,
#page-3 .btn-page-3:hover,
#page-4 .btn-page-4:hover,
#page-5 .btn-page-5:hover {
  border: 2px solid #3c2824;
  background-color: #3c2824;
  color: white;
  font-weight: 500;
}

/*********PAGE NUMBER THREE-MILE CHOCOALE******** */

#page-3 {
  height: 100vh;
  background: #ffb30082;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 4rem;
}
/* 
#page-3 h1 {
  color: #3c2824;
  font-size: 2rem;
  padding-top: 2rem;
  margin-bottom: 20px; */

/* #page-3 p {
  font-size: 1.4rem;
  padding: 2rem 4rem;
  color: #3c2824;
} */

/* #page-3 h3 {
  color: #3c2824;
  padding-bottom: 2rem;
  font-size: 2rem;
} */

/* #page-3 .dark-chocolate-benefits p {
  font-size: 1.4rem;
  padding: 1rem 4rem;
  background: rgba(255, 255, 255, 0.662);
  margin: 5px;
  border-radius: 10px;
  /* transition: all 2s ease ; */

/* #page-2 .btn-page-2 {
  display: inline-block;
  padding: 1rem 6rem;
 
  color: #3c2824;
  text-decoration: none;
  border: 2px solid #3c2824;
  border-radius: 10px;
  margin-top: 1rem;
  font-size: 1.5rem;
} */

/*********PAGE NUMBER FOUR-WHITE CHOCOLATE******** */

#page-4 {
  height: 100vh;
  background: #bb9557c6;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 4rem;
}

/* #page-4 h1 {
  color: #3c2824;
  font-size: 2rem;
  padding-top: 2rem;
  /* margin-bottom: 20px; */
/* line-height: 1.3; */
/* margin: 1rem; */

/* #page-4 p {
  font-size: 1.4rem;
  padding: 2rem 4rem;
  color: #3c2824;
} */

/* #page-4 h3 {
  color: #3c2824;
  padding-bottom: 2rem;
  font-size: 2rem;
} */

/* #page-4 .dark-chocolate-benefits p {
  font-size: 1.4rem;
  padding: 1rem 4rem;
  background: rgba(255, 255, 255, 0.662);
  margin: 5px;
  border-radius: 10px;
  /* transition: all 2s ease ; */

/* .btn-page-4 {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: rgb(232, 216, 216);
  color: #333;
  text-decoration: none;
  border: none;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 1.1rem;
} */

/*********PAGE NUMBER FIVE-CONTACT FORM******** */

#page-5 {
  /* background-color: rgba(255, 255, 255, 0.399); */
  height: 100vh;
  position: relative;
  /* color: white; */
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#page-5::before {
  content: "";
  position: absolute;
  background: url("./Assets/img/acrylic-dripping-paint-light-brown.jpg")
    no-repeat center center/cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#page-5 h1 {
  color: #3c2824;
  font-size: 3rem;
  padding-top: 1rem;
}

/* #page-5 h1 > p {
  color: #3c2824;
  padding-bottom: 5rem;
  font-size: 5rem;
} */

/* #page-5 h3 {
  color: #3c2824;
  padding-bottom: 2rem;
  font-size: 2rem;
} */

#page-5 p {
  color: #3c2824;
  /* padding-bottom: 5rem; */
  font-weight: 500;
  font-size: 1.6rem;
  padding: 1rem 5rem;
  /* background: rgba(255, 255, 255, 0.662); */
  margin-bottom: 20px;
  border-radius: 10px;
  /* transition: all 2s ease ; */
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-form label {
  font-size: 1.6rem;
  font-weight: bolder;
  color: #3c2824;
  line-height: 2;
}

input[type="text"],
input[type="email"],
textarea {
  width: 150%;
  background: none;
  border: 2px solid #3c28246d;
  border-radius: 10px;
  /* height: 4rem; */
}

textarea {
  margin-bottom: 1rem;
}

input[type="text"],
input[type="email"] {
  height: 4rem;
}

/* .btn-page-5 {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: rgb(232, 216, 216);
  color: #333;
  text-decoration: none;
  border: none;
  margin-top: 1rem;
  /* margin-bottom: 2rem; */

/* 
.logo {
  height: 5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
  padding: 0 48px;
}

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
}

.main-nav-link {
  text-decoration: none;
  color: #333;
  font-size: 1.9rem;
} */
